/* All the styles I'm using written by hand! */

/* Side Panel With Collage Options (Dimensions, Layout, etc) */

.options-panel {
    height: 100%;
    width: 28%;
    background-color: #333;
    left: 0; /* Initially visible */
    overflow-x: scroll;
    padding-top: 5%;
    position: fixed;
    transform: translateX(0);
    transition: 0.5s;
}

.options-panel.hidden {
    transform: translateX(-100%);
}

.toggle-btn {
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

/* Main Workspace */

.collage-workspace {
    margin-left: 2%;
    transition: margin-left 0.5s
}
